<?xml version="1.0" encoding="UTF-8"?>
<element>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		id="WebApp_ID" version="2.5">
		<display-name>Quickkart-Mini_Project</display-name>
		<welcome-file-list>
			<welcome-file>index.html</welcome-file>
			<welcome-file>index.jsp</welcome-file>
			<welcome-file>index.htm</welcome-file>
			<welcome-file>default.html</welcome-file>
			<welcome-file>default.jsp</welcome-file>
			<welcome-file>default.htm</welcome-file>
		</welcome-file-list>
		<servlet>
			<description></description>
			<display-name>Login</display-name>
			<servlet-name>Login</servlet-name>
			<servlet-class>Login</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Login</servlet-name>
			<url-pattern>/Login</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Logout</display-name>
			<servlet-name>Logout</servlet-name>
			<servlet-class>Logout</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Logout</servlet-name>
			<url-pattern>/Logout</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Signup</display-name>
			<servlet-name>Signup</servlet-name>
			<servlet-class>Signup</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Signup</servlet-name>
			<url-pattern>/Signup</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>ForgotPassword</display-name>
			<servlet-name>ForgotPassword</servlet-name>
			<servlet-class>ForgotPassword</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ForgotPassword</servlet-name>
			<url-pattern>/ForgotPassword</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Contact_us</display-name>
			<servlet-name>Contact_us</servlet-name>
			<servlet-class>Contact_us</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Contact_us</servlet-name>
			<url-pattern>/Contact_us</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>User_registration</display-name>
			<servlet-name>User_registration</servlet-name>
			<servlet-class>User_registration</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>User_registration</servlet-name>
			<url-pattern>/User_registration</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_add_products</display-name>
			<servlet-name>Admin_add_products</servlet-name>
			<servlet-class>Admin_add_products</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_add_products</servlet-name>
			<url-pattern>/Admin_add_products</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_insert_categories</display-name>
			<servlet-name>Admin_insert_categories</servlet-name>
			<servlet-class>Admin_insert_categories</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_insert_categories</servlet-name>
			<url-pattern>/Admin_insert_categories</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_user_registration</display-name>
			<servlet-name>Admin_user_registration</servlet-name>
			<servlet-class>Admin_user_registration</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_user_registration</servlet-name>
			<url-pattern>/Admin_user_registration</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_user_remove</display-name>
			<servlet-name>Admin_user_remove</servlet-name>
			<servlet-class>Admin_user_remove</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_user_remove</servlet-name>
			<url-pattern>/Admin_user_remove</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_product_show</display-name>
			<servlet-name>Admin_product_show</servlet-name>
			<servlet-class>Admin_product_show</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_product_show</servlet-name>
			<url-pattern>/Admin_product_show</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_update_products</display-name>
			<servlet-name>Admin_update_products</servlet-name>
			<servlet-class>Admin_update_products</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_update_products</servlet-name>
			<url-pattern>/Admin_update_products</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_delete_products</display-name>
			<servlet-name>Admin_delete_products</servlet-name>
			<servlet-class>Admin_delete_products</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_delete_products</servlet-name>
			<url-pattern>/Admin_delete_products</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_login_access</display-name>
			<servlet-name>Admin_login_access</servlet-name>
			<servlet-class>Admin_login_access</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_login_access</servlet-name>
			<url-pattern>/Admin_login_access</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>admin_user_update</display-name>
			<servlet-name>admin_user_update</servlet-name>
			<servlet-class>admin_user_update</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>admin_user_update</servlet-name>
			<url-pattern>/admin_user_update</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_logout</display-name>
			<servlet-name>Admin_logout</servlet-name>
			<servlet-class>Admin_logout</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_logout</servlet-name>
			<url-pattern>/Admin_logout</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_feedback_remove</display-name>
			<servlet-name>Admin_feedback_remove</servlet-name>
			<servlet-class>Admin_feedback_remove</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_feedback_remove</servlet-name>
			<url-pattern>/Admin_feedback_remove</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>About_survey</display-name>
			<servlet-name>About_survey</servlet-name>
			<servlet-class>About_survey</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>About_survey</servlet-name>
			<url-pattern>/About_survey</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_survey_remove</display-name>
			<servlet-name>Admin_survey_remove</servlet-name>
			<servlet-class>Admin_survey_remove</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_survey_remove</servlet-name>
			<url-pattern>/Admin_survey_remove</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>ProcessOrderServlet</display-name>
			<servlet-name>ProcessOrderServlet</servlet-name>
			<servlet-class>ProcessOrderServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ProcessOrderServlet</servlet-name>
			<url-pattern>/ProcessOrderServlet</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>Admin_home_remove</display-name>
			<servlet-name>Admin_home_remove</servlet-name>
			<servlet-class>Admin_home_remove</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Admin_home_remove</servlet-name>
			<url-pattern>/Admin_home_remove</url-pattern>
		</servlet-mapping>
	</web-app>
</element>